body{
    margin: 0;
    padding: 0;
}
#viewport{
    height: 100vh;
    width: 100%;
    display: flex;
    background-image: url(img/bg1.gif);
    background-size: cover;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.button{
    width: 300px;
    height: 100px;
    text-align: center;
    background-color: gray;
    font-size: 90px;
    padding: 5px;
    font-family: Times New Roman;
}
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 70px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
.card{
    width: 200px;
    height: 300px;
    font-family: "Open Sans", sans-serif;
    font-size: 29px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: white;
    margin: 25px;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.card:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
.card>img{
  height: 226px;
}
#card10>img, #card2>img{
  height: 175px;
  margin-top: 51px;
}
.battle>img{
  height: 275px;
}
.battle{
  font-size: 0;
  grid-area: 8/7/12/12;
}
#card2>img, #card4>img, #card6>img, #card7>img, #card8>img, #card9>img{
  transform: scaleX(-1);
}
.battle#card4>img{
  height: 400px;
}
.battle#card9>img{
  height: 550px;
}
.battle#card8>img{
  height: 650px;
}
.battle#card9{
  grid-area: 5/4/12/12;
}
.battle#card4{
  grid-area: 6/6/12/12;
}
.battle#card8{
  grid-area: 4/4/12/12;
}
.enemy{
  grid-area: 4/14/8/20;
}
.enemy>img{
  height: 275px;
}
.war{
  font-family: "Open Sans", sans-serif;
  font-size: 70px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: white;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  grid-area: 11/11/11/15;
}
.war:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
